In [1]:
a = 5

In [2]:
a

5

In [3]:
b = 7

In [4]:
print(a + b)

12

In [5]:
c = 'rererere'

In [6]:
print(c)

rererere

In [7]:
d = f'홍길동은 {c}'

In [8]:
d

'홍길동은 rererere'

In [9]:
aa = 11111111111111111111111111111111111111154646464647657575756757575722222233333444444444

In [10]:
aa

11111111111111111111111111111111111111154646464647657575756757575722222233333444444444

In [11]:
print(int(aa))

11111111111111111111111111111111111111154646464647657575756757575722222233333444444444

In [12]:
def aaa(a,b):
    return a + b

In [13]:
aaa(3,11)

14

In [14]:
def multi(a,b):
    return a * b

In [15]:
multi(5,7)

35

In [16]:
def calc1(a, b):
    for i in range(a):
        print(i)
    
    if (a % b == 0):
        print('인수입니다.')
    else:
        print('인수아닙니다.')

In [17]:
calc1(15,5)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
인수입니다.

In [18]:
for i in range(15):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [19]:
def calc2(a):
    for i in range(a):
        # print(i)
        if(a % (i+1) == 0):
            print(f'{i+1}은 인수입니다.')

In [20]:
calc2(15)

1은 인수입니다.
3은 인수입니다.
5은 인수입니다.
15은 인수입니다.